    <div class="table-responsive" width="100%">

                <table id="zero_config" class="table table-striped table-bordered">
    <thead>
      
        <tr style="text-align: center; font-size: 16px;">
            {% for column_name in colum_belanja_kades %}
                <th>{{ column_name }}</th>
            {% endfor %}
    
        </tr>
    </thead>
    
    <tbody>
{% for row in kades %}
<tr>
    {% if row.desa == Desa %}
    {% for value in row %}
    <td style="text-align: center; font-size: 16px">{{ value }}</td>
   
    {% endfor %}
      {% endif %}
  
</tr>
<!-- Move the modal here -->




{% endfor %}
</tbody>
</table>
